/* - -------------------------------------------------------------------- - */

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

#outer {
	height: 100%;
}

#header, #footer {
	height: 10%;
	min-height: 50px;
}

#body {
	height: 80%;
	min-height: 300px;
}

#side {
	float: left;
	width: 25%;
	height: 100%;
	min-width: 100px;
}

#main {
	float: left;
	width: 75%;
	height: 100%;
	min-width: 300px;
}

#side div {
	height: 20%;
	min-height: 50px;
}

#main div {
	height: 50%;
	min-height: 150px;
}

/* - -------------------------------------------------------------------- - */